<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://10.0.16.54:3306/cf_7466169b_0c0e_4365_95d5_6e63b2b7b567?user=Igl7p52G7DUIKoSz\\u0026password=oaLXhEG1oyHxOswc"/>
      <property name="username" value="Igl7p52G7DUIKoSz"/>
      <property name="password" value="oaLXhEG1oyHxOswc"/>
   </bean>
  
     <bean id="UserDAO" class="com.group7.hms.dao.UserDAOImpl">
   <property name="dataSource" ref="dataSource"/>
   </bean>

</beans>
